* {
	padding: 0;
	margin: 0
}
ul {
	list-style: none;
}
body {
	margin: 1em 0 0;
	background-color: black;
	background-image: radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
	color: rgb(255, 251, 116);
	font-family: cochin, 'latin_modern_roman10_regular', serif;
	font-size: 1em;
	line-height: 1.2;
	box-sizing: border-box;
}
a {
	color: rgba(204, 0, 204, 1);
	text-decoration: none;
}

header {
	display: flex;
	border-bottom: solid 1px white;
    justify-content: space-between;
}

td, th {
   padding: .2em .5em; 
}

header > * {
	flex: 2 1 0;
	margin: 0 1em;
}


header section {
    flex: 3 1 0;
}
main {
	display: flex;
	position: relative;
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
}
main>* {
	filter: sepia();
	border-width: 0;
	flex: 1 1 100px;
	position: relative;
}
h1 {
	margin: 0;
	padding: 0 0 0 1em;
	text-shadow: 2px 2px 2px purple;
	font-size: 3vw;
	line-height: 1;
	position: static;
	border-width: 0;
}
h2 {
	font-size: 2.5vw;
	color: rgba(204, 0, 204, 1);
	text-align: right;
	line-height: 1.5;
}
section {
	background-image: none;
	overflow: hidden;
}
section img {
    width: 100%;
    height: 100%;
}
.showtime main > *:last-child {
    display: none;
}

main > * {
    transition: all 2s ease-in-out 1s;
}

.showtime main > div {
    max-width: 500px;
    margin: 1em auto;
    border: dotted 1px yellow;
    padding: 50px;
}

.showtime .placeholder {
    padding-right: 50px;
}
fieldset {
	border: 0
}
legend {
	color: gold;
	font-weight: bold;
	font-style: italic;
	font-family: cochin, 'latin_modern_roman10BdIt', serif;
	padding: .25em 1em;
}
textarea {
	width: 28.15em;
	height: 8em
}
label {
	width: 5.5em;
	display: inline-block;
}
h1 span {
	font-size: 2vw;
}
i, cite, b, footer, footer a {
	color: #c0c0c0;
}
header ul {
	flex: 0 0 auto;
	margin: 0 1em;
}
h1 em {
	color: magenta;
}
legend em {
	color: gold;
}
form ul {
	display: flex;
	flex-wrap: wrap;
}
form li {
	margin: .5em 0 0 1em;
}

main form {
	box-sizing: border-box;
	border-left: dotted 1px white;
	min-width: 550px;
    height: 100%;
}

.showtime form {
    height: 0px;
}
main h3 {
	background: rgba(96, 85, 65, .7);
	background: none;
	color: rgba(0, 100, 130, .5);
	color: rgba(0, 0, 0, .4);
    color: red;
	padding: 0 0 0 1rem;
	font-size: 2rem;
	line-height: 2.3;
}

header ul li {
	display: inline-block;
}

.wrapper {
	overflow: hidden;
	/*background: url("../img/wallpaper.jpg"); */
}

.placeholder img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: relative;
	float: left;
}
fieldset.ingredients {
	width: 90%;
	margin-top: .5em;
}

a:hover {
	color: white;
}
main>*:hover {
	filter: none;
}

input[type="number"] {
	margin-left: -1.5em
}
.placeholder:after {
	content: "";
	display: table;
	clear: both;
}
h1 em:hover {
	color: cyan;
}

fieldset:first-child legend {
	font-size: 2em;
}
main form.hide {
	height: 0px;
    display: none;
}
.show main>div {
	margin: 0 9em 0 0;
}
.ingredients legend em {
	color: rgba(204, 0, 204, .8);
	font-size: 1.5em
}
footer a:hover {
	color: white
}
li.unit label, li.unit input {
	width: 1em;
	margin-right: .5em
}

header ul a:link {
	height: 6.66em;
	width: 5em;
	border-right: 1px dotted white;
	background: no-repeat 0 100%;
	background-size: cover;
	display: block;
}
header ul a:hover {
	background-position: 0 0
}

form fieldset ul:last-child {
	text-align: left;
}

form>ul:last-of-type li {
	position: relative;
	margin-left: 50%;
	right: 50px;
}

header ul li:nth-child(1) a {
	background-image: url("../img/gin_s.png")
}
header ul li:nth-child(2) a {
	background-image: url("../img/vodka_s.png")
}
header ul li:nth-child(3) a {
	background-image: url("../img/tequila_s.png")
}
header ul li:nth-child(4) a {
	background-image: url("../img/rum_s.png")
}
header ul li:nth-child(5) a {
	background-image: url("../img/bourbon_s.png")
}
header ul li:nth-child(6) a {
	background-image: url("../img/cognac_s.png");
	border-width: 0;
}

.show fieldset.ingredients {
	width: 80%;
}

li.unit label:first-child, input[type="number"] {
	width: 2.75em;
}

#result {
	width: 40%;
	border-top: 1px dotted palegoldenrod;
	margin-left: -2px;
	padding: 0 5%;
}
#reset {
	text-align: right;
	display: block;
	margin-right: 2.25em;
}
#lemon {
	width: 100px;
	height: 92px;
}
#units {
	display: none
}
#dash {
	margin-right: 1em
}
#cocktail, #email {
	width: 33em;
}
#controls {
	top: 0em;
	position: relative;
	text-align: center;
	margin: 0 auto;
	z-index: 2;
	border-spacing: .5em;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	display: table;
	/*
	opacity: 0;
	filter: alpha(opacity=0);
    */
	min-width: 300px;
	width: 100%;
	background: rgba(204, 0, 204, .5);
	border-top: solid 1px white;
}
#backbutton {
	background-position: 50% 14.9%;
}
#playbutton {
	background-position: 50% 29%;
}

#forwardbutton {
    background-position: 50% 0%;
}
#controls button {
	width: 3em;
	height: 3em;
	padding: 0;
	margin: 0 .3em;
	display: table-cell;
	border: solid 1px;
	cursor: pointer;
	background-color: #990;
	border: 1px solid #cc6;
	border-radius: .2em;
	line-height: 1.6;
	background-image: url(../img/buttons_sprite_lowend8.png);
	background-repeat: no-repeat;
	-webkit-box-shadow: 2px 2px 4px black;
	box-shadow: 2px 2px 4px black;
	text-shadow: 1px 1px 1px black;
	opacity: 1;
	filter: alpha(opacity=100);
	zoom: 1;
}
#controls>button {
	background-image: url(../img/buttons_sprite_lowend.png);
	background-color: hsla(270, 50%, 40%, 1);
}


#controls.static {
	margin-top: -3.3em;
	opacity: 1;
	filter: alpha(opacity=100);
	zoom: 1;
}
.show #controls {
	left: 4em;
}
.touchevents #controls {
	opacity: 1;
	filter: alpha(opacity=100);
	zoom: 1;
}

.playing #playbutton {
	background-position: 50% 44%;
	opacity: 0.9;
	filter: alpha(opacity=90);
	zoom: 1;
}
#controls.static button {
	border: 1px solid #FFF;
}
#controls button:hover, #controls button:focus {
	background-color: silver;
	background-color: rgba(150, 150, 150, .5);
	color: black;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .75);
}

.inplay #slide, .inplay #paused {
	margin-left: -100%;
	display: block;
}
#paused, .inplay.playing #paused {
	display: none;
}
.touchevents .inplay #controls {
	top: 0em;
	opacity: 1;
	filter: alpha(opacity=100);
	zoom: 1;
}
@media only screen {
	#controls button {
		background-image: url(../img/buttons_sprite.png);
		background-color: hsla(75, 50%, 40%, .3);
		background-color: hsla(275, 50%, 40%, .3);
		-o-background-size: 128%;
		-moz-background-size: 128%;
		-ms-background-size: 128%;
		-webkit-background-size: 128%;
		background-size: 128%;
	}
}
@media only screen and (max-width: 930px) {
	h1 {
		font-size: 5vw;
	}
}
@media only screen and (max-width: 888px) {
	header {
		flex-wrap: wrap;
		justify-content: center;
	}
	main form {
		margin: 0 auto;
		border-width: 0;
		max-width: 600px;
	}
	main div, #controls {
		display: none;
	}
	
    #home section {
		flex: 1 1 100%;
	}
	#home h2 {
		text-align: center;
	}
	#home h1 {
		text-align: center;
		font-size: 7vw;
		padding: 0;
	}
}

#response {
    background-size: contain;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: space-around;
}

#response p {
    padding: .5em 1em;
    line-height: 1.3;
}


#response aside {
    margin: 1em 1em 0;
    float: left;
    width: 200px;
}

#response img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

#response table {
    box-sizing: border-box;
}

#response section {
    float: left;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: snow;
    padding: 40px;
}

#response > a {
    float: right;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border: solid 1px gray;
    box-shadow: 0 0 8px 8px black;
    border-radius: 50%;
}

#response a img {
    border-radius: 50%;
}

table {
    border-collapse: collapse;
    color: #111;
    margin: auto;
}

td {
    border: dotted 1px #444;
    border-width: 1px 0;
    text-transform: capitalize;
}
th {
    text-align: center;
}
tr:nth-child(odd) td{
}

.method, .method+tr td {
    color: #333;
}