* {
	padding: 0;
	margin: 0
}
ul {
	list-style: none;
}
body {
	margin: 1em 0 0;
	background-color: #000;
	background-image: radial-gradient(#FFF, rgba(255, 255, 255, .2) 2px, transparent 40px), radial-gradient(#FFF, rgba(255, 255, 255, .15) 1px, transparent 30px), radial-gradient(#FFF, rgba(255, 255, 255, .1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
	color: rgb(255, 251, 116);
	font-family: cochin, 'latin_modern_roman10_regular', serif;
	font-size: 1em;
	line-height: 1.2;
	box-sizing: border-box;
}
a {
	color: rgb(204, 0, 204);
	text-decoration: none;
}
header {
	display: flex;
	border-bottom: solid 1px #FFF;
	justify-content: space-between;
}
table {
	border-collapse: collapse;
	color: #333;
	margin: auto;
}
tr {
	border: dotted 1px #444;
	border-width: 1px 0;
}
td, th {
	padding: .2em .5em;
}
td {
	text-transform: capitalize;
}
th {
	text-align: center;
	color: red;
}
header>* {
	flex: 2 1 0;
	margin: 0 1em;
}

main {
	display: flex;
	position: relative;
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
	border-bottom: solid 1px #FFF;
}
main>* {
	filter: sepia();
	border-width: 0;
	flex: 3 1 100px;
	position: relative;
}
h1 {
	margin: 0;
	padding: 0 0 0 1em;
	text-shadow: 2px 2px 2px #800080;
	font-size: 3vw;
	line-height: 1;
	position: static;
	border-width: 0;
}
h2 {
	font-size: 2.5vw;
	color: rgb(204, 0, 204);
	text-align: right;
	line-height: 1.5;
}

fieldset {
	border: 0
}
legend {
	color: #FFD700;
	font-weight: bold;
	font-style: italic;
	font-family: cochin, 'latin_modern_roman10BdIt', serif;
	padding: .25em 1em;
}
textarea {
	width: 28.15em;
	height: 8em
}
label {
	width: 5.5em;
	display: inline-block;
}

i, cite, b, footer, footer a {
	color: #c0c0c0;
}
header section {
	flex: 3 1 0;
}
h1 span {
	font-size: 2vw;
}
h3 span {
	font-style: italic;
	color: #fffb74;
	text-transform: capitalize;
}
header ul {
	flex: 0 0 auto;
	margin: 0 1em;
}
h1 em {
	color: #FF00FF;
}
main form {
	box-sizing: border-box;
	height: 100%;
	width: auto;
}
main h3 {
	background: rgba(96, 85, 65, .7);
	background: none;
	color: rgba(0, 0, 0, .4);
	color: #F00;
	padding: 0 0 0 1rem;
	font-size: 2rem;
	line-height: 2.3;
	width: 80%;
	clear: both;
	margin: 0 auto;
	text-align: center;
}
form ul {
	display: flex;
	flex-wrap: wrap;
}
form li {
	margin: .5em 0 0 1em;
}

section img {
	width: 100%;
	height: 100%;
}
header ul li {
	display: inline-block;
}

.wrapper {
	overflow: hidden;
	/*background: url("../img/wallpaper.jpg"); */
}

.esquire {
	width: 8%;
	transform: rotate(-3deg);
}
.method {
	color: #222;
	text-align: center;
	border: solid 1px red;
}
.showtime form {
	height: 0px;
}

p:nth-of-type(odd) {
	color: #FFF;
}

.placeholder img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: relative;
	float: left;
}
fieldset.ingredients {
	width: 90%;
	margin-top: .5em;
}
a:hover {
	color: #FFF;
}
main>*:hover {
	filter: none;
}
input[type="number"] {
	margin-left: -1.5em
}
.placeholder:after {
	content: "";
	display: table;
	clear: both;
}

main>div:first-child {
	border: dotted 1px #FFF;
	border-width: 0 1px 0 0;
}

.showtime main>div {
	max-width: 500px;
	margin: 1em auto;
	border: dotted 1px #FF0;
	padding: 1.8em 2em 1.8em 0;
	background: #000;
}
h1 em:hover {
	color: #0FF;
}
fieldset:first-child legend {
	font-size: 2em;
}

.show main>div {
	margin: 0 9em 0 0;
}

.ingredients legend em {
	color: rgba(204, 0, 204, .8);
	font-size: 1.5em
}

footer a:hover {
	color: #FFF;
}

li.unit label, li.unit input {
	width: 1em;
	margin-right: .5em
}
header ul a:link {
	height: 6.66em;
	width: 5em;
	border-right: 1px dotted #FFF;
	background: no-repeat 0 100%;
	background-size: cover;
	display: block;
}

.svgfilters header ul li a, .no-js header ul li a {
	background-position: 0 0;
	filter: sepia(80%);
}

form fieldset ul:last-child {
	text-align: left;
}
form>ul:last-of-type li {
	position: relative;
	margin-left: 50%;
	right: 50px;
}

header ul li:nth-child(1) a {
	background-image: url("../img/gin_s.png")
}
header ul li:nth-child(2) a {
	background-image: url("../img/vodka_s.png")
}
header ul li:nth-child(3) a {
	background-image: url("../img/tequila_s.png")
}
header ul li:nth-child(4) a {
	background-image: url("../img/rum_s.png")
}
header ul li:nth-child(5) a {
	background-image: url("../img/bourbon_s.png")
}
header ul li:nth-child(6) a {
	background-image: url("../img/cognac_s.png");
	border-width: 0;
}
.response .placeholder {
	height: 100%;
}
.show fieldset.ingredients {
	width: 80%;
}

.response .placeholder img {
	object-fit: cover;
}

.no-svgfilters header ul a:hover {
	background-position: 0 0;
}

li.unit label:first-child, input[type="number"] {
	width: 2.75em;
}

.svgfilters header ul li a:hover, .no-js header ul li a:hover {
	filter: none;
}

#result {
	width: 40%;
	border-top: 1px dotted #EEE8AA;
	margin-left: -2px;
	padding: 0 5%;
}
#reset {
	text-align: right;
	display: block;
	margin-right: 2.25em;
}
#lemon {
	width: 100px;
	height: 92px;
}

#dash {
	margin-right: 1em;
}
#cocktail, #email {
	width: 30em;
}
#controls {
	text-align: center;
	position: relative;
	display: table;
	border-spacing: .5em;
	width: 100%;
	min-width: 300px;
	margin: 0 auto;
	top: 0em;
	z-index: 2;
	background-color: rgba(55, 55, 55, .5);
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1.5s;
}
#backbutton {
	background-position: 50% 14.9%;
}
#playbutton {
	background-position: 50% 29%;
}
#forwardbutton {
	background-position: 50% 0%;
}
#response {
	background-size: contain;
	background-repeat: no-repeat;
	padding: 1em;
	overflow: hidden;
	flex: 2 1 100px;
}

#controls button {
	width: 3em;
	height: 3em;
	padding: 0;
	margin: 0 .3em;
	display: table-cell;
	border: solid 1px;
	border-radius: .2em;
	line-height: 1.6;
	background-image: url(../img/buttons_sprite_lowend.png);
	background-color: hsl(270, 50%, 40%);
	background-repeat: no-repeat;
	cursor: pointer;
	background-color: #990;
	border: 1px solid #cc6;
	-webkit-box-shadow: 2px 2px 4px #000;
	box-shadow: 2px 2px 4px #000;
	text-shadow: 1px 1px 1px #000;
}
#response p {
	padding: .5em 1em;
	line-height: 1.3;
}
#response aside {
	margin: 1em 1em 0;
	float: left;
	width: 21em;
	padding: .2em;
	border: solid 3px #FFF;
	border-style: double;
	position: relative;
	bottom: 1em;
}
#response img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}
#response table {
	box-sizing: border-box;
}

#response>section {
	position: relative;
	height: 0;
	width: 80%;
	padding: 0;
	padding-bottom: 40%;
	margin: 0 auto;
}
#response>section>* {
	position: absolute;
	height: 100%;
	width: 48%;
	top: 0;
	border-radius: 50%;
	margin: 0 0%;
	box-sizing: border-box;
}
#response>section>a {
	right: 0;
	border: solid 1px #FFF;
}
#response>section section {
	background-color: #fffb74;
	padding: 5em 5em 0;
	background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='mistyrose' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
#response a img {
	border-radius: 50%;
}

#controls.static {
	margin-top: -3.3em;
	opacity: 1;
	filter: alpha(opacity=100);
}
.touchevents #controls {
	opacity: 1;
	filter: alpha(opacity=100);
}
.showtime #controls {
	top: 1em;
	left: 1em;
	border-spacing: 0;
	background-color: transparent;
	width: auto;
}
.show #controls {
	left: 4em;
}
.playing #playbutton {
	background-position: 50% 44%;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

input[type=submit], #paused, #lemon, .showtime #response, #paused, .inplay.playing #paused {
position: absolute;
   top: -9999px;
   left: -9999px;
}
.response #response {
	flex: 5 1 100px;
}

.inplay #slide, .inplay #paused {
	margin-left: -100%;
	display: block;
}

#response .esquire img {
	display: block;
	width: 100%;
	float: left;
	border-radius: 0;
}
#controls.static button {
	border: 1px solid #FFF;
}

#controls button:hover, #controls button:focus {
	background-color: silver;
	background-color: rgba(150, 150, 150, .5);
	color: #000;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .75);
}
.showtime #controls:hover {
	cursor: crosshair;
}

#response p:last-child {
	border-top: solid 1px #FFF;
	margin-top: 1em;
	text-align: center;
}
@media only screen {
	#controls button {
		background-image: url(../img/buttons_sprite.png);
		background-color: hsla(275, 50%, 40%, .3);
		-o-background-size: 128%;
		-moz-background-size: 128%;
		-ms-background-size: 128%;
		-webkit-background-size: 128%;
		background-size: 128%;
	}
}
@media only screen and (max-width: 930px) {
	h1 {
		font-size: 5vw;
	}
}
@media only screen and (max-width: 888px) {
	header {
		flex-wrap: wrap;
		justify-content: center;
	}
	main form {
		margin: 0 auto;
		border-width: 0;
		max-width: 600px;
	}
	main>div {
        position: absolute;
        top: -9999px;
        left: -9999px;
	}
	#response, .showtime main>div {
		position: relative;
        top: 0;
        left: 0;
	}
	#home section {
		flex: 1 1 100%;
	}
	#home h2 {
		text-align: center;
	}
	#home h1 {
		text-align: center;
		font-size: 7vw;
		padding: 0;
	}
}