/*https://www.smashingmagazine.com/2016/05/fluid-typography/*/

html {
	font-size: 1.875vw;
}
header {
	padding: .25rem;
	border-bottom: solid 1px #FFF;
}
main {
	position: relative;
	overflow: hidden;
	width: 100%;
	border-bottom: solid 1px #FFF;
}
form {
	position: relative;
	padding: 1em;
    font-size: .75em;
}
a {
	color: rgb(204, 0, 204);
}
h1 {
	margin: 0 0 0 1vw;
}
table {
	border-collapse: collapse;
	color: #333;
	margin: auto;
}
tr {
	border: dotted 1px #444;
	border-width: 1px 0;
}
td, th {
	padding: .2em .5em;
}
td {
	text-transform: capitalize;
}
th {
	text-align: center;
	color: red;
}
h3 {
	color: rgb(204, 0, 204);
	font-family: 'BernhardModernBd', cochin, 'latin_modern_roman10BdIt', Georgia, serif;
	font-style: italic;
	text-align: right;
}
fieldset {
	border: 0;
}
legend {
	color: #FFD700;
	line-height: 1.6;
	width: 100%;
	text-indent: 2em;
	font-style: italic;
	font-family: 'BernhardModernBd', cochin, 'latin_modern_roman10BdIt', Georgia, serif;
}
i, cite, b {
	color: #c0c0c0;
}
main>* {
	position: relative;
}
header section {
	font-size: 1.25rem;
}
main h2 {
	color: #F00;
	line-height: 2.3;
	font-style: italic;
	clear: both;
	margin: 0 auto;
	text-align: center;
	font-size: 2rem;
}
form li {
	margin: .5em 0 0 1em;
}
h1 span {
	font-size: 50%;
	color: rgb(204, 0, 204);
}
h1 em {
	color: #FF00FF;
	font-family: 'BernhardModernBd', cochin, 'latin_modern_roman10BdIt', Georgia, serif;
}
h2 span {
	font-style: italic;
	color: #fffb74;
	text-transform: capitalize;
}
section img {
	width: 100%;
	height: 100%;
}
header:after {
	content: "";
	display: table;
	clear: both;
}
form ul label {
	width: 5.5em;
	display: inline-block;
}
form ul>* {
	display: inline-block;
}
header ul li {
	border-right: 1px dotted #FFF;
	display: inline-block;
}
header ul a {
	height: 100%;
	background: no-repeat 0 100%;
	display: block;
}
.wrapper {
	overflow: hidden;
}
.esquire {}
.method {
	color: #222;
	text-align: center;
	border: solid 1px red;
}

input[type="number"] {
	max-width: 3em;
}
a:hover {
	color: #FFF;
}
p:nth-of-type(odd) {
	color: #FFF;
}
.showtime form {
	height: 0px;
}
.placeholder img {
	display: block;
	height: 100%;
	width: 100%;
	position: relative;
	float: left;
}
fieldset.ingredients {
	margin: .5em 0 0;
}
.response aside {
	clear: both;
}
li.unit {
	margin: 0 0 0 .5em;
}
h1 span:last-child {
	font-size: 50%;
	color: #fffb74;
}
.showtime main>div:first-child {
	max-width: 500px;
	margin: 1em auto;
	border: dotted 1px #999900;
	border: dotted 1px hsl(60, 100%, 30%);
	padding: 1.8em 2em 1.8em 0;
	background: #000;
	float: none;
}
li.unit label, li.unit input {
	width: auto;
	margin-right: .1em;
}
li.unit input {
	margin-right: .5em;
}
li.unit label {
	min-width: 1em;
}
h1 em:hover {
	color: #0FF;
}
.show main>div {
	margin: 0 9em 0 0;
}
.ingredients legend em {
	color: rgba(204, 0, 204, .8);
}
.svgfilters header ul a, .no-js header ul a {
	background-position: 0 0;
}
.placeholder:after {
	content: "";
	display: table;
	clear: both;
}
.insert:after {
	content: ' left';
}
form>ul:last-child label {
	width: auto;
	margin: 0;
}
header ul li:last-child {
	border-width: 0;
}
form>ul:last-of-type li {
	margin: 0 0 0;
	width: 100%;
	text-align: center;
}
header ul li:nth-child(1) a {
	background-image: url("../img/gin_s.png")
}
header ul li:nth-child(2) a {
	background-image: url("../img/vodka_s.png")
}
header ul li:nth-child(3) a {
	background-image: url("../img/tequila_s.png")
}
header ul li:nth-child(4) a {
	background-image: url("../img/rum_s.png")
}
header ul li:nth-child(5) a {
	background-image: url("../img/bourbon_s.png")
}
header ul li:nth-child(6) a {
	background-image: url("../img/cognac_s.png");
	border-width: 0;
}
.response .placeholder {
	height: 100%;
}
.show fieldset.ingredients {
	width: 80%;
}
.ingredients li:nth-child(even) label, label[for=m1] {
	width: 4em;
}
.no-svgfilters header ul a:hover {
	background-position: 0 0;
}
main>div:last-child form ul:nth-child(5) li {
	width: 100%;
}
.no-svgfilters header ul a:hover {
	background-position: 0 0;
}
#lemon {
	width: 4rem;
}
#result {
	width: 40%;
	border-top: 1px dotted #EEE8AA;
	margin-left: -2px;
	padding: 0 5%;
}
#dash {
	margin-right: 1em;
}
#controls {
	text-align: center;
	position: relative;
	display: table;
	border-spacing: .5em;
	width: 100%;
	margin: 0 auto;
	top: 0;
	z-index: 2;
	border: solid 1px white;
	border-width: 1px 0 0;
	background-color: indigo;
	background-color: hsl(275, 100%, 16%);
	min-width: 200px;
}
#myreset {
	position: absolute;
	right: 5px;
	top: 5px;
}
#spirit {
	width: 5.25rem;    
}
#backbutton {
	background-position: 50% 14.9%;
}
#playbutton {
	background-position: 50% 29%;
}
#forwardbutton {
	background-position: 50% 0%;
}
#response {
	background-repeat: no-repeat;
	padding: 0;
	overflow: hidden;
}
#controls button {
	padding: 0;
	display: table-cell;
	border: solid 1px;
	border-radius: 3px;
	line-height: 1.6;
	background-image: url(../img/buttons_sprite_lowend.png);
	background-color: hsl(270, 50%, 40%);
	background-repeat: no-repeat;
	cursor: pointer;
	background-color: #990;
	border: 1px solid #cc6;
}
#response p {
	padding: .5em 1em;
	line-height: 1.3;
}
#response aside {
	position: relative;
	margin: 1em auto 0;
	padding: .2em;
	width: 16em;
	border: solid 3px #FFF;
	border-style: double;
}
#response img {
	width: 100%;
	height: 100%;
	display: block;
}
#response>section {
	position: relative;
	height: 0;
	width: 80%;
	padding: 0;
	padding-bottom: 40%;
	margin: 0 auto;
}
#response>section>* {
	position: absolute;
	height: 100%;
	width: 48%;
	top: 0;
	border-radius: 50%;
	margin: 0 0%;
}
#response p a {
	font-family: 'Bernhard Modern Std', cochin, 'latin_modern_roman10BdIt', Georgia, serif;
	font-size: 115%;
}
#response>section>a {
	right: 0;
	border: solid 1px #FFF;
}
#response>section div {
	background-color: #fffb74;
	background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='mistyrose' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
#response a img {
	border-radius: 50%;
}
.touchevents #controls {
	opacity: 1;
}
.showtime #controls {
	top: 1em;
	left: 1em;
	border-spacing: 0;
	background-color: transparent;
}
#controls, .inplay #controls:hover {
	background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='mistyrose' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
	opacity: 1;
}
.inplay #controls {
	background-image: none;
	opacity: .25;
}
.show #controls {
	left: 4em;
}
.playing #playbutton {
	background-position: 50% 44%;
	opacity: 0.9;
	filter: alpha(opacity=90);
}
.inplay #paused {
	position: relative;
	top: 0;
	left: 0;
}
.response #response {
	border: 0;
}
.showtime #controls {
	border-width: 0;
}
.inplay #slide, .inplay #paused {
	margin-left: -100%;
	display: block;
}
.esquire {
	width: 20%;
    margin: 1em;
	float: left;
}
#response .esquire img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 0;
}
#controls.static button {
	border: 1px solid #FFF;
}
#response p:last-child {
	border-top: solid 1px #FFF;
	margin-top: 1em;
	text-align: center;
}
#controls button:hover, #controls button:focus {
	background-color: hsla(60, 100%, 25%, .8);
	color: #000;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .75);
}
.showtime #controls:hover {
	cursor: crosshair;
}
input[type=submit], main>div:first-child>a, .unit label:first-child, #paused, #unit, #lemon, .showtime #response, .inplay #mix, .inplay.playing #paused, .response main>div:first-child {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
#controls button:hover, #controls button:focus {
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .75);
}
.showtime #controls:hover {
	cursor: crosshair;
}
.response #response p:first-of-type {
	padding: 1em 1em .5em;
}
#response p a:hover {
	color: #6200ff;
}
.swap form {
	position: relative;
	left: 0;
}
@media only screen {
	#controls button {
		-o-background-size: 128%;
		-moz-background-size: 128%;
		-ms-background-size: 128%;
		-webkit-background-size: 128%;
		background-size: 128%;
		background-image: url(../img/buttons_sprite.png);
	}
}
@media screen and (min-width: 769px) {
	header>* {
		display: inline-block;
	}
}
@media screen and (min-width: 668px) {
	main>div:first-child {
		float: left;
		border: dotted 1px white;
		border-width: 0 1px 0 0;
	}
	.showtime main>div:first-child {
		float: none;
	}
}
@media only screen and (min-width: 667px) and (max-width: 1024px) {
	label[for=m1], .ingredients li:nth-child(even) label {
		position: absolute;
		left: -9999px;
	}
}
@media only screen and (max-width: 930px) {
	.insert:after {
		content: ' above';
	}
}
@media only screen and (max-width: 768px) {
	form {
		max-width: 600px;
	}
	header section {
		font-size: 2.75rem;
		margin: 0 auto 1rem;
	}
	header ul li {
		width: calc(100px + (120 - 100) * (100vw - 667px) / (768 - 667));
		height: calc(133px + ((120 - 100) * (100vw - 667px) / (768 - 667)) * 1.3333);
	}
	.swap main>div:first-child, form, .swap.response form {
		position: absolute;
		left: -9999px;
	}
}
@media only screen and (orientation: portrait) and (max-width: 1024px), (max-width: 768px) {
	/*form {
		width: 96%;
	}
    */
	.wrapper main>div:first-child {
		width: 100vw;
		width: 100%;
	}
}
@media only screen and (max-width: 736px) {
	/*
	.deviceorientation .placeholder {
		height: 140vw;
	}
    */
	.deviceorientation #controls {
		border-spacing: 1em;
	}
}
@media only screen and (max-width: 667px) {
	svg {
		width: 12vmax;
		width: 12em;
	}
	legend {
		font-size: 2.5rem;
	}
	label {
		font-size: 1.75rem;
	}
	textarea {
		height: auto;
	}
	label[for=m1], .ingredients li:nth-child(even) label {
		position: relative;
		left: 0;
	}
	main>div:first-child>a {
		position: relative;
		top: 0;
		left: 0;
		text-align: center;
		display: block;
		font: italic bold 3em/normal cochin, 'latin_modern_roman10BdIt', serif;
		margin: 1rem 0;
	}
}
@media only screen and (orientation: portrait) and (max-width: 667px) {
	legend {
		font-size: 4rem;
	}
	label {
		font-size: 3rem;
	}
	label[for=m1] {
		width: 5.5em;
	}
	.unit label:first-child {
		position: relative;
		top: 0;
		left: 0;
		margin: 0 1em;
	}
	main div form ul.ingredients li {
		display: block;
	}
	.ingredients li {
		border: dotted 1px magenta;
	}
	.ingredients li:nth-child(odd) {
		border-width: 1px 1px 0;
	}
	.ingredients li:nth-child(even) {
		border-width: 0 1px 0;
	}
	.ingredients li:last-child {
		border-width: 0 1px 1px;
	}

}
@media only screen and (max-width: 667px) {
	#response>section>a {
		left: -9999px;
	}
	#response>section {
		padding-bottom: 80%;
	}
	#response>section>* {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		border-radius: 50%;
		margin: 0 0%;
	}
}
@media only screen and (min-width: 414px) {
	#response aside {
		float: left;
		margin: .7em;
		width: 16em;
	}
	.response #response {
		padding: 1em 3em 0;
	}
}
/*https://css-tricks.com/almanac/selectors/n/nth-child/*/