.csstabs {
	margin: 2em 0 0;
	max-width: 600px;
}

#tab1 {
	margin: 0 0 2em;
}
.tabcontent {
	border: 1px solid white;
	padding: 1em;
	font-size: 1em;
	position: relative;
}
.csstabs.show #tab1 .tabcontent{
	opacity: 0;
}

.csstabs>* {
	float: left;
	width: 100%;
}
.csstabs h3 {
	font-size: 1em;
	padding: .75em 0;
	text-align: center;
	cursor: hand;
	font-weight: bold;
	color: magenta;
	border-radius: 5px 5px 0 0;
	position: relative;
	border: 1px solid white;
	margin-bottom: -1px;
	z-index: 1;
	display: inline-block;
	box-sizing: border-box;
	width: 49%;
}

.csstabs li {
	padding: .2em;
}
/*
.csstabs ul, .csstabs h3 {
	background: black;
}
*/
.tabcontent li a {
	font-size: 1.5em;
	font-weight: bold;
}

.no-js .csstabs:hover ul, .show #tab2 ul{
	transition: opacity 1s ease-in;
}

#tab1 {
	margin-left: -100%;
}

#tab2 h3 {
	left: 51%;
}

#tab2 ul {
	opacity: 0;
}
#tab2.show+#tab1 ul {
    opacity: .5;
}

#tab1 h3, .no-js #tab2 h3:hover,  .show #tab2 h3 {
	border-bottom-color: black;
}

.no-js #tab2 h3:hover,  .show #tab2 h3 {
	z-index: 3;
}

.no-js #tab2 h3:hover+ul,  .show #tab2 h3+ul{
	opacity: 1;
	z-index: 2;
}
