.tabcontent {
	border: 1px solid white;
	padding: 1em;
	font-size: 1em;
    position: relative;
}
.tabcontent li a {
	font-size: 1.5em;
	font-weight: bold;
}




#csstabs {
	margin: 2em;
}

#csstabs > * {
	float: left;
    width: 100%;
    background: red;
    } 

#tab1 {
    margin-left: -100%;
}

#csstabs li {
	padding: .2em;
}

#csstabs ul, #csstabs h3 {
	background: black;
}

#csstabs h3 {
	font-size: 1em;
	padding: .75em 0;
	text-align: center;
	cursor: hand;
	font-weight: bold;
	color: magenta;
    max-width: 15em;
	border-radius: 5px 5px 0 0;
	position: relative;
	border: 1px solid white;
    margin-bottom: -1px;
    z-index: 1;
}



#tab2 h3 {
	left: 16em;
}

#tab2 ul {
	opacity: 0;
}

#tab2 h3:hover+ul{
	opacity: 1;
	z-index: 2;
}

#tab2 h3:hover{
	border-bottom-color: black;
}

#csstabs:hover ul {
	transition: opacity .75s ease-in;
}

#tab2 h3:hover{
	z-index: 3;
}

#tab1 ul {
	opacity: 1;
}
#tab1 h3 {
    border-bottom-color: black;
}
/*
#csstabs div.onclick .tabcontent {
	transition: opacity .75s ease-in;
}

.js #csstabs div .tabcontent {
	opacity: 0;
	background: none;
}
.js #csstabs div h3 {
	background: none;
}
#csstabs div.current .tabcontent {
	opacity: 1;
}
.js #csstabs div.current h3 {
	z-index: 3;
	background: black;
}
*/