@keyframes myrotate {
	0% {
		transform: rotate(-10deg);
	}
	30% {
		transform: rotate(0deg);
	}
	80% {
		transform: rotate(370deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
* {
	padding: 0;
	margin: 0
}
/*Don't show shadows when selecting text */

::-moz-selection, ::selection {
	background: #5af;
	color: #fff;
	text-shadow: none;
}
body {
	color: hsl(65, 80%, 70%);
	font-family: 'Bernhard Modern Std', cochin, 'latin_modern_roman10_regular', Georgia, serif;
    font-size: 1em;
	line-height: 1.2;
	background-color: black;
	box-sizing: border-box;
}
main {
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	border-bottom: 1px solid white;
    
}
a {
	color: rgba(204, 0, 204, 1);
	text-decoration: none
}
ul {
	list-style: none;
}
/* https://css-tricks.com/snippets/css/fluid-typography/ */
header {
    font-size: 1vw;
}
h1 {
	font-size: 4.5vmax;
	margin: 10rem 0 1rem 0;
	padding: 0 0 0 7em;
	text-shadow: 1px 1px 1px purple;
	position: relative;
    min-height: 0vw;
}
p {
	margin-bottom: 1em;
	text-align: justify;
}
em {
	font-family: 'BernhardModernBd', cochin, 'latin_modern_roman10BdIt', serif;
    font-size: 1.1em;
}
nav {
	font-size: 1.2rem;
}
i, cite, b {
	color: silver;
}

header blockquote {
	color: rgba(204, 0, 204, 1);
	border: 1px dotted;
	width: 15em;
	padding: 1rem;
	margin: 1rem;
	float: right;
	font-size: 1.25rem;
	font-style: italic;
	text-align: center;
}
p strong {
	text-transform: uppercase;
	font-weight: normal;
}
div>img {
	width: 100%;
	height: auto;
}

h1 em {
	color: rgba(222, 0, 222, .8);
	text-shadow: 1px 1px 1px rgba(0, 255, 255, .9);
    position: relative;
    right: .5vmax;
}

header aside {
	overflow: hidden;
	background-image: url("../img/fc.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}
nav>ul {
	border-top: 1px solid white;
	padding-left: 2%;
	position: relative;
	background-color: rgb(204, 0, 204);
	background-image: linear-gradient(rgb(204, 0, 204), black);
	width: 100%;
}
main aside {
	min-width: 200px;
	box-sizing: border-box;
	position: relative;
}
main>article {
	box-sizing: border-box;
	position: relative;
	padding: 3em 4em 32em 2rem;
	border: dotted 1px white;
	border-width: 0 0 0 1px;
}
main aside, main>article {
	margin-bottom: -30em;
	padding-bottom: 30em;
}
header aside h2 {
	text-align: right;
}
header aside a {
	color: snow;
}
blockquote em span {
	color: rgb(255, 251, 116);
}
nav {
   font-size: 1.3rem; 
}
nav ul ul {
	font-size: 1rem;
}
header blockquote em {
	font-size: .85rem;
	font-style: normal;
	color: snow;
}
p em, main>article p strong {
	color: white;
}
header blockquote:before {
	content: '_';
	display: block;
	width: 100%;
	background: black;
	color: black;
	height: 5px;
	margin: -20px auto 10px;
	text-align: center;
}
header blockquote:after {
	content: '_';
	font-size: 0px;
	display: block;
	width: 100%;
	background: black;
	height: 5px;
	text-align: center;
	position: relative;
	top: 19px;
}
main aside>div {
	transition: all 2s ease-in-out;
}
main aside div {
	margin-top: -2.4em;
}
main aside img {
	display: block;
	position: relative;
	right: .6em;
}
main aside a {
	color: rgba(255, 255, 255, .9);
	font-size: 2em;
	text-align: center;
	display: block;
	position: relative;
	z-index: 1;
	text-shadow: 2px 2px 2px rgb(50, 0, 0);
	top: 2em;
	font-weight: bold;
}
main>article h2 {
	background-color: transparent;
	background-repeat: no-repeat;
	float: right;
	height: 111px;
	width: 111px;
	shape-outside: circle(50%);
	border-radius: 50%;
	border: solid 10px black;
	filter: grayscale(80%);
}
nav ul>li {
	position: relative;
	white-space: nowrap;
	text-align: center;
	z-index: 2;
}
nav ul li ul {
	position: absolute;
	z-index: 22;
	left: -999em;
	width: 100%;
	background-image: linear-gradient(black, rgba(204, 0, 204, 0.5));
}
nav ul>li>a {
	text-shadow: 3px 3px 2px #000;
	font-weight: bold;
}
nav>ul>li a {
	display: block;
	padding: .5em 1em;
	color: rgba(255, 255, 255, .8);
	white-space: nowrap;
}

.content, header blockquote {
    font-family: Cochin, 'latin_modern_roman10_regular', Georgia, serif;
}
.hide {
	display: none;
}

.quote-wrapper {
	position: relative;
	text-align: center;
	height: 180px;
	width: 180px;
	margin: 2em auto;
	font-family: 'Lora', Georgia, serif;
	font-size: calc(16px + (18 - 16) * (100vw - 860px) / (1280 - 860));
	line-height: calc(19px + (24 - 19) * (100vw - 860px) / (1280 - 860));
}
.variant {
	width: 100%;
	height: 100%;
	text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	text-shadow: 2px 2px 2px black;
}
.variant p {
	text-align: center;
	font-style: italic;
	height: 100%;
}
.variant b {
	color: chartreuse;
}
.variant p::before {
	content: "";
	float: right;
	height: 100%;
	width: 50%;
	shape-outside: polygon(3% -4.5%, 100% 0%, 100.00% 100.00%, 1% 97.5%, 52% 93%, 76.6% 82.7%, 94% 65.6%, 100% 50%, 94% 32.6%, 76.6% 17.3%, 49% 2.5%);
	box-sizing: border-box;
	background-color: rgba(222, 111, 22, 0);
	shape-margin: 1vw;
}
.variant::before {
	content: "";
	float: left;
	height: 100%;
	width: 50%;
	shape-outside: polygon(0px 0px, 99% -8px, 49% 3.5%, 17.40% 17.80%, 6% 32.6%, 0px 50%, 6% 65.6%, 25.4% 81.2%, 55% 92%, 98% 97.5%, 0px 100%);
	box-sizing: border-box;
	background-color: rgba(111, 222, 22, 0);
	shape-margin: 1vw;
}
.no-inlinesvg svg, .no-js svg {
	display: none;
}
body.c1, body.c2, body.c3, body.c4, body.c5, body.c6 {
	background-color: black;
	background-image: radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
.content h2:hover {
    filter: blur(1px);
}
.c1 h2 {
	background-image: url('../img/dry_martini.jpg');
	background-position: 50% 30%;
	background-size: 250%;
}
.c2 h2 {
	background-image: url('../img/sidecar.jpg');
	background-position: 90% 10%;
	background-size: 200%;
}
.c3 h2 {
	background-image: url('../img/margarita.jpg');
	background-position: 30% 60%;
	background-size: 225%;
}
.c4 h2 {
	background-image: url('../img/julep.jpg');
	background-position: 90% 55%;
	background-size: 170%;
}
.c5 h2 {
	background-image: url('../img/moscow_mule.jpg');
	background-position: 90% 30%;
	background-size: 170%;
}
.c6 h2 {
	background-image: url('../img/mai_tai.jpg');
	background-position: 90% 55%;
	background-size: 170%;
}
.c7 h2 {
	background-image: url('../img/manhattan.jpg');
	background-position: 90% 33%;
	background-size: 170%;
}
.c8 h2 {
	background-image: url('../img/daiquiri.jpg');
	background-position: 75% 33%;
	background-size: 170%;
}
.c9 h2 {
	background-image: url('../img/cosmopolitan.jpg');
	background-position: 90% 33%;
	background-size: 170%;
}
.c10 h2 {
	background-image: url('../img/floridita.jpg');
	background-position: 90% 33%;
	background-size: 170%;
}
.showtime .content h2 {
    background-size: 500%;
}
.inlinesvg svg {
	font: 1.5rem 'BlackArial', Arial, sans-serif;
	fill: rgba(255, 0, 255, .8);
	width: 100%;
	padding: 5% 10%;
	margin: 0 auto;
	filter: drop-shadow(0px 0px 20px magenta);
	animation: myrotate 2s 2s ease-in;
	transform-origin: 50.1% 48.1%;
	box-sizing: border-box;
}
.inlinesvg svg text {
	stroke-width: 1px;
	stroke: palegoldenrod;
}
body.show {
	margin: 3em;
}
h2:hover {
	filter: none;
}
a:hover {
	color: white;
}
.show main>article>* {
	position: absolute;
	left: -999em;
}
.showtime aside {
	overflow: hidden;
}
h1 em:hover {
	color: rgba(0, 255, 255, .5);
	text-shadow: 1px 1px 1px rgba(255, 0, 255, .8);
}
p:nth-of-type(odd) strong {
	color: white;
}
.c1 aside img {
	right: 1.7em;
}
.c5 aside img {
	right: 1.2em;
}
main aside div:last-child {
	transition: all 1.5s;
}
nav ul>li>a:hover {
	color: hsl(65, 80%, 70%);
}
nav>ul>li>a:hover {
	color: white;
}
nav>ul>li>a:hover {
	text-decoration: none;
	opacity: .5;
}
main>article>p:first-child::first-letter {
	color: white;
	font-size: 300%;
	line-height: 1.1;
	margin: -4px 10px 0 0;
	padding: 0 6px;
	float: left;
	border: solid 1px magenta;
}
main>article p:nth-of-type(odd) {
	color: whitesmoke;
}
p:nth-of-type(odd) em, p:nth-of-type(odd) strong {
	color: hsl(65, 80%, 70%);
}
.c2 main aside a {
	top: 5em;
	left: .5em;
}
.c4 main aside a {
	top: 3.5em;
}
.c6 main aside a {
	top: 3em;
	right: .9em;
}
.c7 main aside a {
	top: 2.5em;
	left: .7em;
}
.c8 main aside a {
	top: 6em;
	left: .4em;
}
.c9 main aside a {
	top: 1.6em;
	left: .2em;
}
nav ul>li>a:hover+ul {
	color: red !important;
}
.show main>article .csstabs {
	position: relative;
	left: 0;
}
.c1 .quote-wrapper, .c4 .quote-wrapper, .c8 .quote-wrapper, .c9 .quote-wrapper {
	font-size: calc(18px + (24 - 18) * (100vw - 860px) / (1280 - 860));
	line-height: calc(22px + (28 - 22) * (100vw - 860px) / (1280 - 860));
}
.c7 .quote-wrapper {
	line-height: calc(18px + (22 - 18) * (100vw - 860px) / (1280 - 860));
}
.c8 .quote-wrapper {
	line-height: calc(32px + (36 - 32) * (100vw - 860px) / (1280 - 860));
}
.c9 .quote-wrapper {
	line-height: calc(23px + (24 - 23) * (100vw - 860px) / (1280 - 860));
}
.c10 .quote-wrapper {
	line-height: calc(20px + (26 - 20) * (100vw - 860px) / (1280 - 860));
}
.showtime aside div:last-child {
	transform: rotate(360deg);
}
.c1 .variant::before, .c1 .variant p::before, .c4 .variant::before, .c4 .variant p::before {
	shape-margin: 2vw;
}
.inlinesvg .quote-wrapper {
	width: 53%;
	height: 0;
	padding-top: 53%;
	margin: -73% auto 2em;
	overflow: hidden;
}
.no-js .quote-wrapper {
	width: 70%;
}
.inlinesvg .variant {
	background: none;
}
.no-js .variant {
	background-image: radial-gradient( ellipse at center, rgba(0, 0, 0, 1) 0%, purple 66%, rgba(255, 255, 0, 1) 70%, rgba(255, 255, 255, 0) 70.3%);
	background-color: plum;
	border-radius: 50%;
}
.showtime aside div:first-child {
	overflow: hidden;
}
.c1 nav>ul>li:nth-child(1)>a, .c2 nav>ul>li:nth-child(6)>a, .c3 nav>ul>li:nth-child(3)>a, .c4 nav>ul>li:nth-child(5)>a, .c5 nav>ul>li:nth-child(2)>a, .c6 nav>ul>li:nth-child(4)>a {
	color: white;
}
/*restrict drop down to current page OR alter html*/

.c1 nav>ul>li:nth-child(1):hover a+ul, .c2 nav>ul>li:nth-child(6):hover a+ul, .c3 nav>ul>li:nth-child(3):hover a+ul, .c4 nav>ul>li:nth-child(5):hover a+ul, .c5 nav>ul>li:nth-child(2):hover a+ul, .c6 nav>ul>li:nth-child(4):hover a+ul {
	left: auto;
}
#menu-toggle {
	position: absolute;
	left: -9990px;
}
@media only screen and (max-width: 1024px) {
	.variant::before, .variant p::before {
		shape-margin: 1vw;
	}
}
@media only screen and (max-width: 960px) {
	.showtime .sidebar>div {
		height: 100%;
	}
	.showtime .sidebar>div img {
		height: 100%;
		object-fit: cover;
		right: 0;
	}
	.showtime .inlinesvg svg, .showtime .quote-wrapper {
		display: none;
	}
}
@media only screen and (max-width: 860px) {

	.variant::before, .variant p::before {
		shape-margin: 1vw;
	}

	.sidebar>div {
		height: 100%;
	}
	.sidebar>div img {
		height: 100%;
		object-fit: cover;
		right: 0;
	}
	.c2 main aside a {
		top: 2em;
	}
	.c4 main aside a {
		top: 2em;
	}
	.c6 main aside a {
		top: 2em;
		right: 0em;
	}
	.inlinesvg svg, .quote-wrapper {
		display: none;
	}
}
@media only screen and (max-width: 768px) {
	main {
		position: static;
		display: block;
	}    
	h1 {
		background: rgba(0, 0, 0, .75);
		margin: 40% 0 7em;
		padding: .75rem 0 .4rem 1rem;
		border: dotted 1px white;
		border-width: 1px 0;
		top: 7em;
        font-size: calc(30px + (50 - 30) * (100vw - 320px) / (768 - 320));
		text-shadow: 1px 1px 1px black;
	}
 
	blockquote {
		display: none;
	}
	header aside {
		background-size: 60%;
		background-position: 0 0;
	}
	main aside {
		position: static;
		border-width: 0;
	}
	main aside, main>article {
		margin-bottom: 0px;
	}
	main>article {
		padding: 2em 2em 1em;
		border-width: 0;
	}
	nav ul {
		position: absolute;
		top: calc(60px + (100 - 60) * (100vw - 320px) / (768 - 320));
		right: 1vw;
		padding: 0 .5em;
		width: auto;
		background-color: transparent;
		background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .9));
		border-width: 0;
		line-height: 1.9;
		border-radius: 0px 0px 8px 8px;
	}
	nav ul li {
		height: 0;
		font-size: 0;
		transition: height .9s ease-out;
	}
	main aside {
		position: absolute;
		left: -9999px;
	}
	header aside {
		background-size: 140%;
		background-position: 100% 33%;
	}
	main aside>a {
		position: absolute;
		left: 22%;
		top: 1rem;
	}
	nav ul li a {
		padding: 0;
		background-color: transparent;
		color: rgba(239, 251, 116, 0.88);
	}
    .menu {
	position: absolute;
	top: 1vw;
	top: 2vw;
	right: calc(36px + (56 - 36) * (100vw - 320px) / (768 - 320));
	height: calc(48px + (72 - 48) * (100vw - 320px) / (768 - 320));
	width: calc(48px + (72 - 48) * (100vw - 320px) / (768 - 320));
    min-height: 0vw;
}
	.menu {
		background: 50% 0% url("../img/polo_ball_sprite.png") no-repeat;
		-o-background-size: 105%;
		-moz-background-size: 100%;
		-ms-background-size: 100%;
		-webkit-background-size: 100%;
		background-size: 100%;
		cursor: pointer;
		-webkit-transition: transform 1s;
		-o-transition: transform 1s;
		transition: transform 1s;
		opacity: .75;
	}
	.menu:hover {
		background-position: 50% 100%;
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	.c1 header aside {
		background-image: url("../img/dry_martini.jpg");
	}
	.c2 header aside {
		background-image: url("../img/sidecar.jpg");
		background-position: 85% 10%;
	}
	.c3 header aside {
		background-image: url("../img/margarita.jpg");
		background-position: 120% 77%;
	}
	.c4 header aside {
		background-image: url("../img/julep.jpg");
		background-position: 110% 55%;
	}
	.c5 header aside {
		background-image: url("../img/moscow_mule.jpg");
		background-position: 96% 65%;
	}
	.c6 header aside {
		background-image: url("../img/mai_tai.jpg");
		background-position: 76% 50%;
	}
	.c7 header aside {
		background-image: url("../img/manhattan.jpg");
		background-size: 160%;
		background-position: 80% 40%;
	}
	.c8 header aside {
		background-image: url("../img/daiquiri.jpg");
		background-position: 80% 40%;
	}
	.c9 header aside {
		background-image: url("../img/cosmopolitan.jpg");
		background-position: 80% 40%;
	}
	.c10 header aside {
		background-image: url("../img/floridita.jpg");
		background-position: 80% 40%;
	}
	#menu-toggle:checked+nav ul li {
		height: 2em;
		font-size: calc(18px + (28 - 18) * (100vw - 320px) / (768 - 320));
	}
}

@media only screen and (max-width: 768px) and (min-width: 415px) {
  
    h1 {
        font-size: calc(10px + (42 - 10) * (100vw - 320px) / (768 - 320));
    }
    
	
	h1 em:hover {
		text-shadow: 1px 1px 1px rgba(255, 0, 255, .8);
	}
	h1:after {
		text-transform: uppercase;
		font-size: 1em;
        letter-spacing: -1px;
	}
	.c1 h1:after {
		content: " :: Dry Martini";
		color: rgb(222, 222, 200);
		text-shadow: 1px 1px purple;
	}
	.c2 h1:after {
		content: " :: Sidecar";
		color: gold;
		text-shadow: 1px 1px red;
	}
	.c3 h1:after {
		content: " :: Margarita";
		color: rgb(222, 233, 160);
		text-shadow: 1px 1px gray;
	}
	.c4 h1:after {
		content: " :: Mint Julep";
		color: rgb(160, 100, 30);
		text-shadow: 1px 1px seagreen;
	}
	.c5 h1:after {
		content: " :: Moscow Mule";
		color: rgb(168, 126, 84);
		text-shadow: 1px 1px maroon;
	}
	.c6 h1:after {
		content: " :: Mai Tai";
		color: orange;
		text-shadow: 1px 1px brown;
	}
	.c7 h1:after {
		content: " :: Manhattan";
		color: darkred;
		text-shadow: 1px 1px red;
	}
    .c8 h1:after {
		content: " :: Daiquiri";
		color: lightcyan;
		text-shadow: 1px 1px darkgreen;
	}
    .c9 h1:after {
		content: " :: Cosmopolitan";
		color: mistyrose;
		text-shadow: 1px 1px maroon;
	}
    .c10 h1:after {
		content: " :: Floridita";
		color: coral;
		text-shadow: 1px 1px darkred;
	}
    
}


@media only screen and (max-width: 414px) {
	h1 {
		background: rgba(0, 0, 0, .75);
		padding: 0 0 0 1rem;
		top: 7em;
	}
    h1 a {
    padding: 5px 0 0;
    display: block;
}
    
    h1 em {
		text-shadow: 1px 1px 1px rgba(0, 255, 255, .9);
	}
	main>article {
		padding: 1em;
		border-width: 0;
		font-size: 1.2em;
	}
    
    p {
        text-align: left;
    }
    
    
	
}

@media print {
	body {
		background: white;
		color: black;
	}
	header, footer, h2, .sidebar div, svg {
		display: none;
	}
	main article.content p {
		color: #444;
	}
	main article.content p strong, main article.content em, main article.content a {
		color: black;
	}
	main>article>p:first-child::first-letter {
		color: #444;
		font-size: 300%;
		line-height: 1.1;
		margin: -4px 10px 0 0;
		padding: 0 6px;
		float: left;
		border: solid 1px #444;
	}
	main, .sidebar>div:first-child {
		display: block;
	}
}