* {
	padding: 0;
	margin: 0
}
body {
	color: #FBD872;
	font-family: cochin, 'latin_modern_roman10_regular', serif;
	font-size: 1em;
	line-height: 1.2;
	margin: 2em;
	background-color: black;
}

body.show {
    margin: 3em;
}
/*Don't show shadows when selecting text */

::-moz-selection, ::selection {
	background: #5af;
	color: #fff;
	text-shadow: none;
}
a {
	color: rgba(204, 0, 204, 1);
	text-decoration: none
}

ul {
	list-style: none;
}

h1 {
	font-size: 3em;
	margin: 3.3em 0 0 .5em;
	float: left;
	text-shadow: 0 0 4px white;
}

h2, #sidebar a {
	font-size: 2em;
	color: rgba(204, 0, 204, 1);
}

p {
	margin-bottom: .5em;
}

em {
	font-family: cochin, 'latin_modern_roman10BdIt', serif;
}
ol {
	padding: 0 0 1em 1em;
}

input[type="number"] {
	margin-left: -1.5em
}
legend {
	padding: .25em 1em;
}
fieldset {
	border: 0
}

form li {
	display: inline-block;
	margin: .5em 0 0 1em;
}

textarea {
	width: 28.15em;
	height: 8em
}
label {
	width: 5.5em;
	display: inline-block;
}

div>img {
	width: 100%;
	height: auto;
}

h1 em, legend em {
	color: gold
}

.wrapper {
	overflow: hidden;
	/*background: url("../img/wallpaper.jpg"); */
}

.innerwrap {
	position: relative;
	overflow: hidden;
	float: none;
	display: flex;
	width: 100%;
}
#sidebar {
	flex: 2 1 200px;
	min-width: 320px;
}

#content {
	flex: 3 1 auto;
}

.showtime #sidebar {
	overflow: hidden;
	border-right: dotted 1px white;
}
.showtime #sidebar div, .showtime #sidebar img {
	height: 100%;
}
.showtime #sidebar img {
	position: relative;
	width: calc(100% * 490/400);
	object-fit: cover;
}

.footer {
	width: 100%;
	border-top: 1px solid white;
	clear: both;
	padding-top: 1em;
	z-index: 1;
	background-color: black
}

i, cite, b, .footer, .footer a {
	color: #c0c0c0;
}

a:hover {
	color: white;
	text-decoration: underline
}

.show #content > * {
    position: absolute;
    left: -999em;
}

.show #content .csstabs {
    position: relative;
    left: 0;
}

fieldset.ingredients {
	width: 70%;
	margin-top: .5em;
}
.ingredients legend em {
	color: rgba(204, 0, 204, .8);
	font-size: 1.5em
}

.footer a:hover {
	color: white
}

ol li:nth-child(odd) {
	color: white
}

li.unit label, li.unit input {
	width: 1em;
	margin-right: .5em
}
li.unit label:first-child, input[type="number"] {
	width: 2.75em;
}


/* technically this shouldn't be required but below rule is applying to TWO urls, this override has greater specificity */
form fieldset ul:last-child {
	text-align: left;
}
form ul:last-child {
	text-align: center;
}

body#martini, body#c2, body#c3, body#c4, body#c5, body#c6 {
	background-color: black;
	background-image: radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

#content {
	padding: 1em 2em 30em;
}
h1, h2, legend, #nav>li a, #sidebar a {
	font-family: cochin, 'latin_modern_roman10_bold', serif;
}

#content p {
	font-size: 1em
}

#content p:nth-child(odd) {
	color: white;
}

#header {
	height: 14em;
	overflow: hidden
}

#nav {
	border-top: 1px solid white;
	padding-left: 2%;
	position: relative;
	background: rgba(204, 0, 204, 1) linear-gradient(transparent, black);
display: flex;
	width: 100%;
	box-shadow: 0 0 5em purple;
}
/*
#sidebar {
	width: 30%;
	float: left;
}
*/
#header div {
	width: 30%;
	float: left
}

#nav>li {
	display: inline-block;
	margin-right: .25em;
	position: relative;
	white-space: nowrap;
	z-index: 2;
	flex: 1 0 0;
}
/*
div#content {
	width: 64%;
	margin-left: -64%;
	float: right;
	border-left: dotted 1px white;
}

#sidebar div {
	margin-top: -4.4em;
	margin-left: -20%;
}
*/
#sidebar img {
	display: block;
	transition: all 2s;
}

#sidebar a {
	color: rgba(255, 255, 255, .9);
	font-size: 2em;
	text-align: center;
	display: block;
	padding: .5em 0;
	position: relative;
	text-shadow: 3px 3px 2px rgb(100, 0, 0);
}

#nav li ul {
	position: absolute;
	z-index: 22;
	left: -999em;
	width: 100%;
	background: rgba(204, 0, 204, 0.5) linear-gradient(black, transparent);
}
#nav>li a {
	display: block;
	padding: .5em 1em;
	color: rgba(255, 255, 255, .8);
	white-space: nowrap;
}
#nav>li>a {
	font-size: 1.2em;
}
#nav>li>a:hover {
	text-decoration: none;
	opacity: .5
}

#nav li:hover ul {
	left: auto;
}

#c1 #nav>li:nth-child(1)>a, #c2 #nav>li:nth-child(6)>a, #c3 #nav>li:nth-child(3)>a, #c4 #nav>li:nth-child(5)>a, #c5 #nav>li:nth-child(2)>a, #c6 #nav>li:nth-child(4)>a {
	color: white;
	text-shadow: 3px 3px 2px #000;
	font-weight: 700;
}

#content, #sidebar {
	position: relative;
	padding-bottom: 30em;
	margin-bottom: -30em;
}

#units {
	display: none
}

#dash {
	margin-right: 1em
}

#user {
	width: 42%;
	float: left;
	padding: 2% 0 0% 2%;
	border-top: 1px solid white;
	margin: 0 0 1% -2px
}
#chaps {
	border-top: solid 1px #ffffff;
	clear: both;
	width: 55%;
	float: left;
	border-right: 1px dotted white
}

#result {
	width: 40%;
	border-top: 1px dotted palegoldenrod;
	margin-left: -2px;
	padding: 0 5%;
}

#reset {
	text-align: right;
	display: block;
	margin-right: 2.25em
}
#lemon {
	width: 100px;
	height: 92px;
}

#cocktail, #email {
	width: 33em;
}

ul#bar {
	width: 42%;
	float: right
}
ul#bar a:link {
	display: block;
	width: 5em;
	height: 6.66em;
	border-right: 1px dotted white;
	background: no-repeat 0 100%;
	background-size: cover;
}
ul#bar li:nth-child(1) a {
	background-image: url("../img/gin_s.png")
}
ul#bar li:nth-child(2) a {
	background-image: url("../img/vodka_s.png")
}
ul#bar li:nth-child(3) a {
	background-image: url("../img/tequila_s.png")
}
ul#bar li:nth-child(4) a {
	background-image: url("../img/rum_s.png")
}
ul#bar li:nth-child(5) a {
	background-image: url("../img/bourbon_s.png")
}
ul#bar li:nth-child(6) a {
	background-image: url("../img/cognac_s.png")
}
ul#bar a:hover {
	background-position: 0 0
}

ul#bar li {
	display: inline-block;
}
#home h1 {
	float: none;
	font-size: 2.5em;
	margin: 0
}

#header h2 {
	text-align: right;
}
#header a {
	color: palegoldenrod
}

#user fieldset:first-child legend {
	font-size: 2em;
}

#home .footer {
	margin-top: -2em;
}

#home #header {
	float: left;
	height: auto;
	width: 58%;
}
